@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600&family=Righteous&display=swap');

#customRange2 {
  padding-top: 1%;
  padding-bottom: 5%;
  padding-left: 16%;
  padding-right: 16%;
}

#emoji {
  padding-top: 3%;
  padding-bottom: 1%;
  font-size: calc(6.2em);
}

h1 {
    font-family: 'Righteous', cursive;
}

nav {
    font-family: 'Righteous', cursive;
}

a {
    padding: 4%;
}

.card-body {
  padding-left: 5%;
  padding-right: 5%;
}